/*
* @Author: yangyunfei
* @Date:   2018-01-10 19:07:01
* @Last Modified by:   yangyunf
* @Last Modified time: 2018-03-08 17:24:44
*/

.thigh {
	margin-top: 10px;
	margin-bottom: 10px;
}

.case-zone{
	margin:0 auto;
	width:80%;
	margin-top: 30px;
}

.params-width {
	margin-right: 10px;
}

.params-bottom{
	margin-bottom: 5px;
}

.req-border {
	border: 1px solid red;
}

