/*
* @Author: yangyunf
* @Date:   2018-02-23 11:18:07
* @Last Modified by:   yangyunf
* @Last Modified time: 2018-02-24 16:36:44
*/

.params-width {
	margin-right: 10px;
}

.params-bottom{
	margin-bottom: 5px;
}

.from-bottom{
	margin-bottom:170px;
}